.config-panel-container {
    position: absolute;
    top: 10px;
    right: 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px;
}

.config-panel-item {
    width: 200px;
}