.file-panel-container {
    position: absolute;
    top: 18px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}

.file-panel-item {
    width: 40px;
}